Data Wrangling

In [119]:
import pandas as pd
import numpy as np

df = pd.read_excel('Discover.xlsx')

Filtering out all the data that I don't want to analyze

In [120]:
# fliter for the 2023 year
filtered_year = df[('2022-12-31' < df['Trans. date']) & ('2024-01-01' > df['Trans. date'])]

# get rid of negative amounts
filtered_neg = filtered_year[df['Amount'] > 0]
print(filtered_neg)

    Trans. date                                        Description  Amount  \
261  2023-01-04                              ALIEXPRESS LONDON GBR   25.06
262  2023-01-05    SQ *YEH YEH'S LYNNWOOD WA0001152921512347440885    8.85
263  2023-01-05                    SUPRA RE 877-699-6787 FL8899238   13.87
264  2023-01-05               SYMMETRY PHYSICAL THERAP MUKILTEO WA  120.00
265  2023-01-07                       ROSS STORES #1319 SEATTLE WA   22.04
..          ...                                                ...     ...
536  2023-12-26  ARITZIA FORUM SHOPS LAS VEGAS NVAPPLE PAY ENDI...  390.15
538  2023-12-29                 PAYPAL *UNIQLO USA 402-935-7733 CA   65.95
539  2023-12-30                   T-MOBILE STORE # 0204 SEATTLE WA  421.34
540  2023-12-31                                 DOLLARTREE KENT WA    6.88
541  2023-12-31      IN *BUSHNELL REAL ESTA 425-5591355 WAASE2NNQJ   99.00

              Category
261  Department Stores
262        Restaurants
263           Services
264   Medical Services
265        Merchandise
..                 ...
536        Merchandise
538        Merchandise
539           Services
540        Merchandise
541           Services

[243 rows x 4 columns]

<ipython-input-120-6c81b5eb1152>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_neg = filtered_year[df['Amount'] > 0]

Adding new categoies that are more relevant to me

In [121]:
# creating a new df for the new categories
Cat_df = filtered_neg.copy()
#defining function filter
def filter(x):
    description = x["Description"]
    category = x["Category"]
    if "ALIEXPRESS" in description or "BEADWORLD" in description or "PARADIJEWELRY" in description:
      return "Jewelry Supplies"
    elif "AMZN" in description or "AMAZON.COM" in description:
      return "Amazon"
    elif "SY PHARMACY" in description:
      return "Medical Services"
    elif "ULTASALONCO" in description or "ULTA" in description:
      return "Beauty"
    elif "BUSHNELL" in description or "SUPRA" in description or "4TE*KELLER" in description or "PRINTING" in description or "STAPLES" in description:
      return "Home"
    elif "TEA" in description or "BOBA" in description or "HAPPY LEMON" in description or "Mogee Tee" in description:
      return "Boba"
    else:
      return category

#applying the filter function dataframe
Cat_df['sub_category'] = filtered_neg.apply(filter, axis = 1)

print(Cat_df)

    Trans. date                                        Description  Amount  \
261  2023-01-04                              ALIEXPRESS LONDON GBR   25.06
262  2023-01-05    SQ *YEH YEH'S LYNNWOOD WA0001152921512347440885    8.85
263  2023-01-05                    SUPRA RE 877-699-6787 FL8899238   13.87
264  2023-01-05               SYMMETRY PHYSICAL THERAP MUKILTEO WA  120.00
265  2023-01-07                       ROSS STORES #1319 SEATTLE WA   22.04
..          ...                                                ...     ...
536  2023-12-26  ARITZIA FORUM SHOPS LAS VEGAS NVAPPLE PAY ENDI...  390.15
538  2023-12-29                 PAYPAL *UNIQLO USA 402-935-7733 CA   65.95
539  2023-12-30                   T-MOBILE STORE # 0204 SEATTLE WA  421.34
540  2023-12-31                                 DOLLARTREE KENT WA    6.88
541  2023-12-31      IN *BUSHNELL REAL ESTA 425-5591355 WAASE2NNQJ   99.00

              Category      sub_category
261  Department Stores  Jewelry Supplies
262        Restaurants       Restaurants
263           Services              Home
264   Medical Services  Medical Services
265        Merchandise       Merchandise
..                 ...               ...
536        Merchandise       Merchandise
538        Merchandise       Merchandise
539           Services          Services
540        Merchandise       Merchandise
541           Services              Home

[243 rows x 5 columns]

Doing quick analysis of my spendings

In [72]:
# Total Spendings
Cat_df["Amount"].sum()

7855.43

In [73]:
# Total Transactions
Cat_df["Trans. date"].count()

243

In [86]:
# Total Spendings for each category
Cat_df.groupby("sub_category").sum()

<ipython-input-86-deb6795f84fc>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Cat_df.groupby("sub_category").sum()

                        Amount
sub_category
Amazon                 1229.12
Beauty                  556.08
Boba                     87.72
Education                94.09
Government Services       2.00
Home                   1106.18
Home Improvement         41.22
Jewelry Supplies        208.89
Medical Services        375.66
Merchandise            1587.79
Restaurants            1013.36
Services                601.70
Supermarkets            382.36
Travel/ Entertainment   569.26

In [ ]:
filtered_amazon = Cat_df.loc[Cat_df["sub_category"] == "Amazon"]
print(filtered_amazon)

In [ ]:
filtered_education = Cat_df.loc[Cat_df["sub_category"] == "Education"]
print(filtered_education)

Narrow down the education category into a more descriptive category

In [ ]:
# replace education category with UW
Cat_df["sub_category"] = Cat_df["sub_category"].replace("Education", "UW")
Cat_df["sub_category"].unique()

In [130]:
filtered_services = Cat_df.loc[Cat_df["sub_category"] == "Services"]
print(filtered_services)

# put the transaction into correct category
Cat_df["sub_category"] = np.where(Cat_df["Description"].str.contains("MATCHA"),"Restaurants", Cat_df["sub_category"])
Cat_df["sub_category"] = np.where(Cat_df["Description"].str.contains("MISHACHARMS"),"Merchandise", Cat_df["sub_category"])

    Trans. date                                       Description  Amount  \
307  2023-03-09                  SEATTLE METER PARKING SEATTLE WA    5.00
365  2023-05-20  SQ *MISHACHARMS SEATTLE WA0001152921512811398178   24.20
370  2023-05-24                  SEATTLE METER PARKING SEATTLE WA    0.54
371  2023-05-24                  SEATTLE METER PARKING SEATTLE WA    5.00
376  2023-06-01                     LA NA NAIL LOUNGE KIRKLAND WA  108.00
495  2023-11-09                    PARKWHIZ, INC. 888-472-7594 IL   20.00
539  2023-12-30                  T-MOBILE STORE # 0204 SEATTLE WA  421.34

     Category sub_category
307  Services     Services
365  Services     Services
370  Services     Services
371  Services     Services
376  Services     Services
495  Services     Services
539  Services     Services

Matcha Man is now in the Restaurants category

In [ ]:
filtered_resturant = Cat_df.loc[Cat_df["sub_category"] == "Restaurants"]
print(filtered_resturant)

MISHACHARMS is also in the Merchandise category

In [131]:
filtered_merch = Cat_df.loc[Cat_df["sub_category"] == "Merchandise"]
print(filtered_merch)

    Trans. date                                        Description  Amount  \
265  2023-01-07                       ROSS STORES #1319 SEATTLE WA   22.04
276  2023-01-19                       PAYPAL *TEMU 402-935-7733 CA   30.59
278  2023-01-25                   PAYPAL *ETSY INC 402-935-7733 CA   37.20
282  2023-02-04                   PAYPAL *ETSY INC 402-935-7733 CA   62.26
300  2023-02-25                            TJ MAXX #852 EDMONDS WA   44.18
301  2023-02-27                       PAYPAL *TEMU 402-935-7733 CA   28.03
317  2023-03-26                PAYPAL *THREDUP INC 402-935-7733 CA  139.42
321  2023-03-28                         WALGREENS #5950 SEATTLE WA    2.83
344  2023-04-28                               ETSY.COM BROOKLYN NY   51.60
357  2023-05-14                            PACSUN #0530 TUKWILA WA   24.21
365  2023-05-20   SQ *MISHACHARMS SEATTLE WA0001152921512811398178   24.20
367  2023-05-21                PAYPAL *THREDUP INC 402-935-7733 CA   18.27
382  2023-06-07                       ROSS STORES #1319 SEATTLE WA   32.06
386  2023-06-15                PAYPAL *SHOP MISS A 402-935-7733 CA   13.97
389  2023-06-21                       CAKES OF PARADISE SEATTLE WA    6.50
396  2023-06-30                    PAYPAL *EBAY US 402-935-7733 CA   33.28
404  2023-07-13  CROSSROADS TRADING CO- SEATTLE WAAPPLE PAY END...   44.30
415  2023-08-01  HUDSON ST 1504 SEATTLE WAAPPLE PAY ENDING IN 4246   13.08
425  2023-08-05  TOP OF THE ROCK LLC NEW YORK NYAPPLE PAY ENDIN...   10.83
432  2023-08-07  CROSSROADS TRADING COM NEW YORK NYAPPLE PAY EN...   42.22
440  2023-08-09  SLC DF CONCOURSE A USU SALT LAKE CITUTAPPLE PA...   21.52
441  2023-08-11                PAYPAL *APPLIEDLACQ 402-935-7733 CA   62.96
444  2023-08-18                   PAYPAL *ETSY INC 402-935-7733 CA    8.95
453  2023-09-01  ROSS STORES #1319 SEATTLE WAAPPLE PAY ENDING I...    6.60
454  2023-09-01  WALGREENS #5950 SEATTLE WAAPPLE PAY ENDING IN ...    4.94
455  2023-09-01  WALGREENS #5950 SEATTLE WAAPPLE PAY ENDING IN ...   18.27
462  2023-09-07  ROSS STORES #1319 SEATTLE WAAPPLE PAY ENDING I...    5.50
463  2023-09-07  WALGREENS #5950 SEATTLE WAAPPLE PAY ENDING IN ...    0.64
473  2023-09-30    SEATTLE DI SHORELINE WAAPPLE PAY ENDING IN 4246    6.61
494  2023-11-05                PAYPAL *SUGARSHINEM 888-221-1161 CA   35.85
496  2023-11-10         DOLLARTREE KENT WAAPPLE PAY ENDING IN 4246    4.13
504  2023-11-20                PAYPAL *THREDUP INC 402-935-7733 CA   12.94
505  2023-11-21                 PAYPAL *XERO SHOES 402-935-7733 CA  105.79
512  2023-12-02    WALGREENS #3518 KENT WAAPPLE PAY ENDING IN 4246   24.75
517  2023-12-11                PAYPAL *SEPHORA USA 888-221-1161 CA   28.22
518  2023-12-12        DOLLAR TREE KENT WAAPPLE PAY ENDING IN 4246    9.71
519  2023-12-13                 PAYPAL *UNIQLO USA 402-935-7733 CA   76.96
530  2023-12-22                PAYPAL *ELFCOSMETIC 402-935-7733 CA    7.72
533  2023-12-25   REIWATAKIYA LAS VEGAS NVAPPLE PAY ENDING IN 4246   23.72
535  2023-12-25  MINISO DEPOT SHANGHAI PL LAS VEGAS NVAPPLE PAY...    2.16
536  2023-12-26  ARITZIA FORUM SHOPS LAS VEGAS NVAPPLE PAY ENDI...  390.15
538  2023-12-29                 PAYPAL *UNIQLO USA 402-935-7733 CA   65.95
540  2023-12-31                                 DOLLARTREE KENT WA    6.88

        Category sub_category
265  Merchandise  Merchandise
276  Merchandise  Merchandise
278  Merchandise  Merchandise
282  Merchandise  Merchandise
300  Merchandise  Merchandise
301  Merchandise  Merchandise
317  Merchandise  Merchandise
321  Merchandise  Merchandise
344  Merchandise  Merchandise
357  Merchandise  Merchandise
365     Services  Merchandise
367  Merchandise  Merchandise
382  Merchandise  Merchandise
386  Merchandise  Merchandise
389  Merchandise  Merchandise
396  Merchandise  Merchandise
404  Merchandise  Merchandise
415  Merchandise  Merchandise
425  Merchandise  Merchandise
432  Merchandise  Merchandise
440  Merchandise  Merchandise
441  Merchandise  Merchandise
444  Merchandise  Merchandise
453  Merchandise  Merchandise
454  Merchandise  Merchandise
455  Merchandise  Merchandise
462  Merchandise  Merchandise
463  Merchandise  Merchandise
473  Merchandise  Merchandise
494  Merchandise  Merchandise
496  Merchandise  Merchandise
504  Merchandise  Merchandise
505  Merchandise  Merchandise
512  Merchandise  Merchandise
517  Merchandise  Merchandise
518  Merchandise  Merchandise
519  Merchandise  Merchandise
530  Merchandise  Merchandise
533  Merchandise  Merchandise
535  Merchandise  Merchandise
536  Merchandise  Merchandise
538  Merchandise  Merchandise
540  Merchandise  Merchandise

In [132]:
filtered_markets = Cat_df.loc[Cat_df["sub_category"] == "Supermarkets"]
print(filtered_markets)

    Trans. date                                        Description  Amount  \
266  2023-01-07                       TARGET 00022905091 RENTON WA    6.15
308  2023-03-09                       TRADER JOE S #137 SEATTLE WA   19.15
325  2023-03-30                             QFC #5816 SHORELINE WA    7.98
328  2023-03-30  SQ *ASIAN FAMILY MARKE SEATTLE WA0001152921512...   49.85
334  2023-04-06                     TRADER JOE S #270 SHORELINE WA   28.80
360  2023-05-17  SQ *THE CANDY DIVA SEATTLE WA00023058430176095...   10.00
383  2023-06-07                           SAFEWAY #1508 SEATTLE WA   24.26
424  2023-08-05  SQ *NEW YORK GIFTS & S NEW YORK NYAPPLE PAY EN...    8.93
431  2023-08-06      TESO MINI NEW YORK NYAPPLE PAY ENDING IN 4246   43.76
448  2023-08-25  TRADER JOE S #270 SHORELINE WAAPPLE PAY ENDING...   30.21
449  2023-08-28   SAFEWAY #1508 SEATTLE WAAPPLE PAY ENDING IN 4246   15.42
461  2023-09-05  TRADER JOE S #270 SHORELINE WAAPPLE PAY ENDING...   14.43
468  2023-09-23  SQ *MEHNDI MADNESS INC PUYALLUP WA000115292151...   18.50
481  2023-10-05  SQ *ROYCE' WASHINGTON SEATTLE WA00011529215132...   35.99
497  2023-11-10                              SAFEWAY #1294 KENT WA   19.81
498  2023-11-11  BYBLOS MARKET KENT KENT WAAPPLE PAY ENDING IN ...    2.99
502  2023-11-18  TRADER JOE S #163 KENT WAAPPLE PAY ENDING IN 4246    3.99
511  2023-12-02  ASIAN PACIFIC MARKET IN KENT WAAPPLE PAY ENDIN...   26.28
515  2023-12-07  CARPINITO BROTHERS KENT WAAPPLE PAY ENDING IN ...    2.63
524  2023-12-17  SQ *INDIGO COW SEATTLE WAAPPLE PAY ENDING IN 4...   13.23

         Category  sub_category
266  Supermarkets  Supermarkets
308  Supermarkets  Supermarkets
325  Supermarkets  Supermarkets
328  Supermarkets  Supermarkets
334  Supermarkets  Supermarkets
360  Supermarkets  Supermarkets
383  Supermarkets  Supermarkets
424  Supermarkets  Supermarkets
431  Supermarkets  Supermarkets
448  Supermarkets  Supermarkets
449  Supermarkets  Supermarkets
461  Supermarkets  Supermarkets
468  Supermarkets  Supermarkets
481  Supermarkets  Supermarkets
497  Supermarkets  Supermarkets
498  Supermarkets  Supermarkets
502  Supermarkets  Supermarkets
511  Supermarkets  Supermarkets
515  Supermarkets  Supermarkets
524  Supermarkets  Supermarkets

In [ ]:
filtered_travel = Cat_df.loc[Cat_df["sub_category"] == "Travel/ Entertainment"]
print(filtered_travel)

Export the Excel

In [135]:
Cat_df.to_excel('Clean_Discover.xlsx', index=False)